{% extends "layout.html" %}

{% block title %}ADD POST{% endblock %}

{% block css %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block content %}

	
<div class = "container">

	<p class="add_post_header add_post_item" id = "header">ADD A POST</p>
	<div class = 'user_interface'>
	<p class ="explain ">Share your story with the Artflict community </p>
	<p class = "explain"> Have an artist illustrate your story, and bring it to life</p>
	<div class="vl">
	<form action="{{ url_for('add_post.add_post') }}" method="post">
	{{ form.csrf_token }}
		<div class="row" >
		<div class="col-md-2"><h2 class = "sub">TITLE:</h2></div>
		<div class="col-md-4"  class = "post_textbox">   {{ form.title(placeholder= "Title") }}</div>
		</div>
		<div class = "row">
		<div class = col-md-2><h2 class = "sub"> STORY:</h2></div>
		<div class="col-md-3"><br>   {{ form.text(placeholder= "Story")}}</div>
		</div>
		<div class="row">
		<div class = "col-md-5"></div>
		<div class col-md-2><button class="btn btn-default" id = 'button' type="submit"><p id ='btn_text'>Post</p></button></div>
		</div>
	</form>
</div>
</div>
</div>
{% endblock %}
