{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feed.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/feed.js')}}"></script>

{% endblock %}

{% block content %}

<div class="post_space">

{% if show and show == 'artless' %}

  {% for post in posts %}

    <div class="artlessfeed post_template" id="post_no_{{post.id}}" onclick="view_story(this.id)">
      <div class="artlessfeed post_title">
        {{ post.Title.upper() }}
      </div>

      <div class="artlessfeed post_preview ">
        {{ post.Text }}
      </div>

      <div class="post_date_separator"></div>

      <div class="artlessfeed post_footer">
        <div class="artlessfeed post_date">
          posted on
          {{ post.format_date() }}
        </div>
        <div class="artlessfeed post_relate">
          <i class="fas fa-heart fa-2x relate_button" id="relate_no_{{post.id}}"></i>
        </div>
      </div>
    </div>

{% endfor %}

{% else %}

{% for post in posts %}

  <div class="mainfeed post_template" id="post_no_{{post.id}}" onclick="view_story(this.id)">
    <div class="mainfeed post_title">
      {{ post.Title.upper() }}
    </div>

    <div class="mainfeed post_image">
      <img src="{{post.ArtURL}}">
    </div>

    <div class="mainfeed post_preview ">
      {{ post.Text }}
    </div>

    <div class="mainfeed post_footer">
      <div class="mainfeed post_date">
        posted on: 
        {{ post.format_date() }}
      </div>
      <div class="mainfeed post_relate">
        <i class="fas fa-heart fa-2x relate_button" id="relate_no_{{post.id}}"></i>
      </div>
    </div>
  </div>

{% endfor %}


{% endif %}

</div>

{% endblock %} 