{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feed.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/feed.js')}}"></script>

{% endblock %}
{%block title %}Home{% endblock %}
{% block content %}

<div class="row mb-2">
{% if show and show == 'artless' %}

  {% for post in posts %}

        <div class="col-md-12" id="post_no_{{post.id}}">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <!--strong class="d-inline-block mb-2 text-primary">World</strong-->
              <h3 class="mb-0">
                <a class="text-dark display-4"  " href="#">{{ post.Title.upper() }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ post.format_date() }}</div>
              <p class="card-text mb-auto">{{ post.get_description() }}
</p>
              <a href="{{ url_for('list_detail_stories', post_id = post.id) }}">Continue reading</a>
            </div>
          </div>
        </div>
{% endfor %}

{% else %}

 {% for post in posts %}

        <div class="col-md-12" id="post_no_{{post.id}}">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
               <strong> <a class="text-dark" href="#">{{ post.Title.upper() }}</a></strong>
              </h3>
              <div class="mb-1 text-muted">{{ post.format_date() }}
</div>
              <p class="card-text mb-auto">{{ post.get_description() }}</p>
              <a href="{{ url_for('list_detail_stories', post_id = post.id) }}">Continue reading</a>
              <div class="artlessfeed post_relate">
                <i class="fas fa-heart fa-2x relate_button" id="relate_no_{{post.id}}"></i>
              </div>
            </div>
            <img src="{{post.ArtURL}}" style="width: 500px; height: 300px;" data-src="holder.js/200x250?theme=thumb" class="card-img-right flex-auto d-none d-lg-block">
          </div>
        </div>


  {% endfor %}


{% endif %}

      </div>


{% endblock %} 