{% extends "layout.html" %}

{% block title %}View Story{% endblock %}

{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/viewstory.css') }}">
{% endblock %}

{% block content %}
<div class="post_block">
       <div class="valid_text_space" >
<!--Checking if post has picture, which will cancel button-->
           {% if post.ArtURL != None %}
            <div id="story_title"> {{post.Title}} </div>
           <div class = 'row' id = 'info'>
<div class = "col-md-4">
            <img class = img.thumbnail id = "post_img" width = '100%', height = '100%' src={{post.ArtURL}}>
</div>
          <div class="col-md-8" id="description_block"> {{post.Text}}</div>

</div>
       <div class = 'row'>
      <span class = col-md-4><a  id = 'artist_link' href = "{{url_for('profile', username = user.username)}}">Art by @{{user.displayname}}</a></span>
</div>
    <p id = 'seperator'>_________________________________________________________________________________</p>

<div class = 'row'>
  <div  id = 'notes_class' class = 'col-md-12'>
      <p id = 'note_header'>ARTIST'S NOTE</p>
      <p id = 'notes'>{{post.ArtistNotes}}</p>
       </div>
    </div>
     </div>
   </div>
          
{% else %}
        <div id="story_title"> {{post.Title}} </div>
        <div class = 'row'>
        <div class="vl">

        <div class="col-md-9" id = "description_block"> {{post.Text}}</div>
      </div>
    </div>
        <div class = 'row'>
        <div class="col-md-9"></div>
        <div class = 'col-md-3'><button class="btn btn-default" type="button" data-toggle= 'modal' data-target = '#addArt' id = 'ill'><p id ='btn_text'>ILLUSTRATE THIS STORY</p></button></div> 
            <!-- The Modal -->
<div class="modal fade" id="addArt">
  <div class="modal-dialog">
    <div class="modal-content">
       <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Share your art...</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
       <!-- Modal body -->
      <div class="modal-body">
         <form action="{{ url_for('add_post.add_art', post_id = post.id) }}" method="post">
        {{ form.csrf_token }}
        <p class="text" style="color: black">URL:</p> <p style="color: black"> {{ form.art_url(placeholder= "Add URL") }}</p>
        <p style="color: black">Notes:</p>  <p style="color: black"> {{ form.artist_notes(placeholder= "Add your Notes...") }}</p>
        <button class="btn btn-sm btn-success" type="submit">Share</button>
        </form>
        
      </div>
       
      <!-- Modal footer --> 
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
     </div>
  </div>
  <br><br>
</div>
        </div>



{% endif %}
{% endblock %} 