@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }

@-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
.animated{
-webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;                  
}
    .imag2{
    	width: 25%;
    	height: 100%;
    	     display: block;
    	 margin-left: auto;
    margin-right: auto;
    }

	    }
	#p1{
		margin-left: 300px;
	}
	#p2{
		margin-left: 400px; 
	}
	#bt1{
		margin: 4px 500px;
		background-color: gray; /* Green */
        border: none;
        border-radius: 25px;
        color: white;
        padding: 15px 70px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
	}
	#bt1:hover {
    box-shadow: 0 12 px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: white;
    }
    .p_fonts{
         color:white; font-size:50px;
         text-align: center;
    }