body {
	font-family: Arial, Helvetica, sans-serif;
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100vh;
  overflow: hidden;
  
}
 

.profile-body {
 background-color:transparent;
}

.profileform {
 width: 500px;
 height: 600px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 background: linear-gradient(to top, rgba(204,0,0), rgba(230, 92, 0));
 }

.imgcontainer {
 text-align: center;
}

.title {
 color: grey;
 font-size: 18px;
}


/*MAIN FEED PAGE */
.main_feed_body{
	background-color: rgb(51, 17, 0);
}

.active {
    background-color: #4CAF50;
}


.topnav {
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #adadad;
  font-size: 20px;
  font-weight: bolder;
}

.topnav a:hover {
  text-decoration-color: black;
}

.topnav a.active {
  
}

.topnav_separator {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border: 0;
  border-bottom: 1px solid;
  width: 90%;
}

.jumbotron-img{
    max-width: 100%;
    background-color: transparent;
}

#feed_img{
    max-width: 120%;
}


.content{
  margin-right: auto;
  margin-left: auto;
  width: 89%;
  height: auto;
  background-color: white;
}

.top_bar{
  height: 28vh;
  overflow: hidden;
  width: 100%;
}

.content_main{
  height: 69vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.content_footer{
  border-top: 1px solid #adadad;
  background-color: white ;
  height: 4vh;
}

.topnav{
  color: black;
  text-decoration: underline;
  width: 100%;
  display: block;
  border-radius: 0;
}

.navbar-top {
    background: #4D5061;
    border-bottom: 4px solid #60B078;
}

.text-white{
}

.navbar-doublerow > .navbar{
  display: block;
  padding: 0px auto;
  margin: 0px auto;
  min-height: 25px;
}

/*Down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
    /*navbar brand*/
  /*padding: 0px auto;*/
  float: left;
  color: #60B078;
  font-size: 30px;
}
.navbar-doublerow .navbar-down ul>li>a{
    /*Menu items*/
  font-size: 15px;
  color: #000;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
    /*menu hover*/
  border-bottom: 1px solid #60B078;
  color: #60B078;
}

.navblock{
  width: 16.66%;
  color: green;
}

.nav.navbar-nav.topnav li a {
  color: blue;
}
.color-me{
    color:blue;
}

#navbarlogo{
width: 30%;
height: 100px;
float: left;
padding:10px;
}
#avatarpic{
  width: 100px;
  height: 100px;
  float:right;
  border-radius: 50%;
  padding: 10px;
  margin-left: 40px;

}

.searchblock{
  margin-top: 20px;
  width: 40%;
  padding:10px;
}


/* Style the search field */
form.example input[type=text] {
  width: 200px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.pos{
    display:inline-block;
    
}

