
#login_page_body{
	padding-top: 100px;
}

/* Full-width inputs */
.login_page_textbox { 
 position: center;
 background: transparent;
 border-top: none;
 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 margin: 35px 0 10px 0;
 border-bottom: 2px solid rgb(0,0,0,0.8);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 vertical-align: middle;
 color:white;
 display: block;
 }

 .login_page_container {
 padding: 20px;
 color: rgb(122, 122, 82);
 border-radius: 5px;
 width: 500px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 background: -webkit-linear-gradient(top,rgba(44, 43, 86, 0.71),rgba(44, 43, 86,0.71));
 color:white;
}

.switch_link{
  font-family:'Avenir LT W01 35 Light', 'Avenir', sans-serif;
}
.profile-body {
 background-color:transparent;
}


.imgcontainer {
 text-align: center;
}

/* logo image */
#logo {
 width: 50%;
 /*border-radius: 50%;*/
 display: block;
 margin-left: auto;
 margin-right: auto;
 /*background-color:rgba(255,255,255,1);*/
 }

/*login button*/
.login_btn{
 background-color: rgba(50, 50, 68, 0.8);
 color: white;
 font-weight: lighter;
 padding: 2px;
 border: none;
 cursor: pointer;
 width: 40%;
 border-radius: 5px;
 font-size: 30px;
 display: block;
 margin: 20px 0 10px 0;

}

.login_btn:hover {
 /*background-color: rgba(230, 92, 0, 0.89);*/
 opacity: 0.8;
}


.login_page_textbox::placeholder, .login_page_textbox::placeholder {
 color: rgba(0,0,0,0.7);
 }

.login_page_textbox:focus, .login_page_textbox:focus {
 outline: none;
 }

 .login_page_textbox:focus::placeholder, .login_page_textbox:focus::placeholder{
 	color: transparent;
 }

.form_switch_link{
	text-decoration: underline;
	display: inline;
	color: white;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.page_switch_form{
	display: inline;
}

.form_switch_link:hover{
	cursor: pointer;
}

.form_switch_link:focus{
	outline: none;
}

.error_message {
	margin: 0;
	display: none;
	color: red;
}
.btn4 {
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
}

.btn4:hover {background-color: #e7e7e7;}
.bt1{	margin-top: 20px;
        background-color: rgb(160,160,160,0.89);
        border: none;
        border-radius: 25px;
        color: white;
        padding: 15px 70px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
	}
	.bt1:hover {
    box-shadow: 0 12 px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: white;
    }

body{
    color: white;
}