.vl {
  padding-right: 20px;
    border-left: 2px solid #999E9A;
    height: 450px;
}

.text{
  font-family:'Avenir LT W01 35 Light', 'Avenir', sans-serif;
  	color: black;
	  }

#btn_text{
  color:black;
  text-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button {
  padding: 5px 55px;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: #999E9A;
  border: none;
  border-radius: 50px;
}

.title{
  padding-bottom: 20px;
}

 .explain{
    font-family: 'Avenir LT W01 35 Light', 'Avenir', sans-serif;
 	font-size: 20px;
  font-weight: lighter;
 }


.sub{
	font-family: 'Avenir LT W01 35 Light', 'Avenir', sans-serif;
	font-size: 20px;
  color:black;
  padding-left: 20px;
}
.post_textbox { 
 position: center;
 background: transparent;
 border-top: none;
 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 margin: 50px 0 35px;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 vertical-align: middle;
 color: black;
 display: block;
 }

 #title{
 border-top: none;

 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 color: black;
 vertical-align: middle;
 display: block;
 }

#text{
	height:200px;
	width:500px;
	color: black;

}

#form{
  padding-top:20px; 
}

.btn {
	margin-bottom: 15px;

}

.user_interface{
  padding-left: 20px;
}

.explain{
  font-size: 25px;
  font-weight: lighter;
}

#header{
  font-size: 30px;
  padding-bottom: 20px;
}
