.vl {
    border-left: 2px solid #999E9A;
    height: 450px;
}

.text{
  font-family:'Avenir LT W01 35 Light';
  	color: black;
	  }

#btn_text{
  color:black;
  text-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button {
  padding: 5px 55px;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: #999E9A;
  border: none;
  border-radius: 50px;
}




#header{
	font-family: "Avenir", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 25px;

}
 .explain{
    font-family: "Avenir", sans-serif;
 	font-size: 20px;
  font-weight: lighter;
 }


.sub{
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
  color:black;
}
.post_textbox { 
 position: center;
 background: transparent;
 border-top: none;
 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 margin: 50px 0 35px;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 vertical-align: middle;
 color: black;
 display: block;
 }
.row{
 padding: 12px 20px;
 margin: 50px 0 35px;

}
 #title{
 border-top: none;

 border:none;
 box-sizing: border-box;
 width: 70%;
 padding: 12px 20px;
 border-bottom: 2px solid rgb(242, 242, 242);
 box-sizing: border-box;
 opacity: 0.9;
 text-align: center;
 color: black;
 vertical-align: middle;
 display: block;
 }

#text{
	height:200px;
	width:500px;
	color: black;

}

.container{
	margin-top: 10px;
  padding-right: 30px;

}

.btn {
	margin-bottom: 15px;

}

.user_interface{
  padding-left: 20px;
}

.explain{
  font-size: 25px;
  font-weight: lighter;
}
