.vl {
    border-left: 2px solid #999E9A;
    height: 150px;
}

body{
	font-family:'Avenir LT W01 35 Light', 'Avenir';
	overflow-x:hidden;
}

.post_block{
}
#seperator{
	text-align: center;
	color:black;
}

#story_title{
	font-size: 40px;
	color:black;
	font-family:  'Avenir LT W01 35 Light', 'Avenir', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;


}
#description_block	{
	font-family:  'Avenir LT W01 35 Light', 'Avenir', sans-serif;
	color:black;
	font-size: 16px;
}

#post_img {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	max-width: 100%;
	max-height: 100%;
}

.jumbotron-img{
	width: 100%;
	min-height: 100%;
	background-color: transparent;

}

#notes{
	color : black;
	font-size: 16px;
}
#artist_link{
	text-decoration: underline;
	font-size: 30px;
	color: black;
}
span{
	display: inline-block;
}

#note_header{
	font-size: 24px;
	font-family:'Avenir LT W01 35 Light', 'Avenir';
	color: black;
}

#notes_class{
		font-family:'Avenir LT W01 35 Light', 'Avenir';

	margin-left: 10px;
}

#ill{
	border: 2px solid #555555;
	background-color: #999E9A;
	border-radius: 50px;


}
#btn_text{
	margin-top: 10px;
	margin-bottom: 10px;
}



