#story_title{
	font-size: 50px;
	color:black;
	font-family:  "Avenir", sans-serif;
	margin: 20px;


}
#description_block	{
	font-family:  "Avenir", sans-serif;
	color:black;
	font-size: 20px;
}

#post_img {
	max-width: 100%;
}

.jumbotron-img{
	max-width: 50%;
	background-color: transparent;
	padding :0;
	padding-bottom: 0;
}

#notes{
	color : black;
	font-size: 25px;
}
#artist_link{
	text-decoration: underline;
	font-size: 25px;
	color: black;
}
span{
	display: inline-block;
}


